*
!.gitignore
!nonxmlfile
!hermesrabbitnonvalid01.xml
!hermesrabbitnonvalid02.xml
!hermesrabbitnonvalid03.xml
!hermesrabbitnonvalid04.xml
!hermesrabbitnonvalid05.xml
!hermesrabbitnonvalid06.xml
!hermesrabbitnonvalid07.xml
!hermesrabbitnonvalid08.xml
!hermesrabbitnonvalid09.xml
!hermesrabbitnonvalid10.xml
!hermesrabbitnonvalid11.xml
!hermesrabbit01.xml
!hermesrabbit02.xml
